@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f7;
  --secundary-color: #efffef;
  --tertiary-color: #010;
}

body {
  font-size: 2.5vmin;
  font-family: "Roboto Mono", sans-serif;
  background-color: var(--tertiary-color);
  color: var(--secundary-color);
  height: 100vh;
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.5s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  min-height: 50vh;
}

h1 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover,
a:visited {
  opacity: 0.8;
}

ul,
ol {
  padding-left: 2em;
  line-height: 2;
}

kbd {
  color: var(--primary-color);
  background: var(--tertiary-color);
  text-align: center;
  display: inline-block;
  border-radius: 0.3em;
  box-shadow: 1px 1px 1px var(--primary-color);
  padding: 0 0.5em;
  vertical-align: text-bottom;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 1px;
}

b {
  color: var(--primary-color);
}

button {
  background-color: transparent;
  border: 0.1em solid var(--primary-color);
  color: var(--primary-color);
  padding: 0.3em 2em;
  border-radius: 0.12em;
  transition: all 0.5s;
  font-size: inherit;
  font-family: inherit;
}

button:not([disabled]):hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  cursor: pointer;
}

button:disabled {
  border: 0.1em solid var(--secundary-color);
  color: var(--secundary-color);
}

.btn-small {
  padding: 0 0.5em;
}

.btn-medium {
  padding: 0 0.7em;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 425px) {
  body {
    font-size: 3.5vmin;
  }

  header {
    flex-direction: column;
  }

  footer,
  h2 {
    text-align: center;
  }
}
